* {
    box-sizing: border-box;
    padding: 10px;
    margin: 2px;
    border: 2px solid black;
    text-align: center;

}

body {
    background-color: white;
    padding: 0;
    margin: px;
}

header, section, nav, article, p, aside, footer {
    font-size: 16px;
    text-align: center;
	border:none;
}

header {
    background-color: white;
}

header#headerin, header#headerRin {
    background-color: white;
    padding: 10px;
}

nav{
	background-color:lightblue;
}

nav#navin {
    background-color: lightblue;
    padding: 10px 0px 549px 0px;
}

section#sectionL {
    background-color: green;
    width: 70%;
    float: left;
    margin-left: 2px;
}

section#sectionR {
    background: bisque;
    width: 29.4%;
    float: right;
    margin-right: 2px;
}

article#INarticle {
    background-color: pink;
    margin: 5px;
    overflow: hidden;
}

p#print {
    background-color: purple;
    padding: 100px 100px;
    width: 99%;
}

p#printL, aside#asideR {
    background-color: purple;
    width: 49%;
    padding: 100px 100px;
    display: inline-block;
}

aside#asideR {
    background-color: yellow;
}

footer#oFooter {
    background-color: lightgreen;
    clear: both;
    margin-top: 20px;
    padding: 20px;
}

footer#afooter {
    background-color: lightgreen;
    padding: 20px;
}
body,html {
    border: none;
}